*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forma DJR Text", Arial, Helvetica, sans-serif;
}

/* Fonts */

@font-face {
    font-family: "Soulcraft";
    src: url("../fonts/Soulcraft.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* Mobile */

body {
    overflow-x: hidden;
}

h1 {
    font-size: 3em;
    font-family: 'Soulcraft', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2.5em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 1.25em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

h4 {
    font-size: 1em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

p {
    font-size: 1em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

a {
    font-size: 1em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.navigation_container {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 5;
    transition: 0.5s;
}

ul {
    display: none;
}

nav li {
    list-style: none;
}

 .logo {
        text-decoration: none;
        color: black;
        font-size: 1em;
        margin: 4.5vh 4vw;
        display: flex;
        position: absolute;
        font-family: 'Soulcraft', Arial, Helvetica, sans-serif;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
    }


.navigation {
    float: right;
    width: 15%;
    margin: 0 2vw;
    height: 7vh;
    position: relative;
}

.nav-ul.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    padding: 20vh 50vw;
    margin: -10vh 0 0 -83vw;
}

#nav-ul {
    width: 100%;
}

li {
    margin: 0 2vw;
    display: flex;
    align-items: center;

}

.nav_link {
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: black;
    position: relative;
    z-index: 1000;
}

.active {
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: black;
    background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
    position: relative;
    z-index: 1000;
}

.menu {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: auto 2vw;
}

.menu_img {
    width: 100%;
    height: 100%;
}

/* Tablet */
@media only screen and (min-width: 600px) {}

/* Desktop */
@media only screen and (min-width: 768px) {

    html {
        scroll-behavior: smooth;
    }

    h1 {
        font-size: 4em;
        font-family: 'Soulcraft', Arial, Helvetica, sans-serif;
    }

    h2 {
        font-size: 3em;
        font-family: 'Soulcraft', Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    h3 {
        font-size: 2em;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 400;
    }

    h4 {
        font-size: 1.125em;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 300;
    }

    p {
        font-size: 1.125em;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 200;
    }

    a {
        font-size: 1em;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 300;
    }

    /* Navigation */
    .navigation_container {
        height: 12vh;
        width: 100%;
        position: fixed;
        z-index: 5;
        transition: 0.5s;
        display: block;
    }

    .menu {
        display: none;
    }

    .navigation {
        float: right;
        width: 40%;
    }

    nav li {
        list-style: none;
    }

    ul {
        display: flex;
        justify-content: end;
        flex-direction: row;
        margin: auto;
        height: 12vh;
    }

    .nav_link {
        text-decoration: none;
        color: black;
        position: relative;
        font-size: 0.9rem;
    }

    #nav-ul {
        height: 12vh;
    }

    .nav_link::after {
        content: ' ';
        position: absolute;
        top: -0.75vw;
        transform: translateY(50%);
        width: 0;
        left: 0;
        height: 1.5vw;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        transition: width 0.25s ease-in-out;
        z-index: -1;
        font-size: 1em;
    }

    .nav_link:hover::after {
        width: 100%;
    }

    .active {
        text-decoration: none;
        font-family: 'Montserrat',
            sans-serif;
        color: black;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        display: inline-block;
        font-size: 1em;
    }

    .navigation .icon {
        display: none;
    }
}