*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

/* Tablet */
@media only screen and (min-width: 600px) {}

/* Desktop */
@media only screen and (min-width: 768px) {

    body {
        overflow-x: hidden;
    }

    /* Header section */
    .header_img {
        width: 100%;
    }

    .intro_container {
        position: absolute;
        z-index: 2;
        width: 40vw;
        top: 45%;
        left: 77%;
        transform: translate(-50%, -50%);
    }

    .intro_text {
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 24px;
        font-weight: 400;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        margin: 1vh 0;
        display: inline-block;
    }

    .underline_text {
        float: right;
    }

    .intro_text1 {
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 200;
    }

    .name {
        width: 40vw;
        margin: 1vh 0;
    }

    .intro_button {
        border: 2px solid black;
        padding: 12px;
        width: 20vw;
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 200;
        background-color: transparent;
        margin: 3vh 0;
        cursor: pointer;
    }

    .intro_button:hover {
        color: white;
        border: 2px solid black;
        background-color: black;
        transition: 0.5s;
    }

    /* Portfolio section */
    .portfolio_container {
        padding: 16vh 0 0;
        width: 100%;
    }

    .page_headline {
        font-size: 48px;
        font-family: 'Soulcraft', sans-serif;
        font-weight: 500;
        margin: 0 0 3vh;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        display: inline-block;
    }

    .text_underline {
        display: flex;
        justify-content: center;
    }

    .portfolio_content {
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        height: 43%;
        width: 43%;
        margin: 0 2vw;
        position: relative;
        justify-content: center;
    }

    .content_img {
        width: 100%;
        height: auto;
        margin: 3vh 3vw;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        transition: 0.5s;
        background-color: #5DC6E0;
        opacity: 0;
        margin: 3vh 3vw;
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }

    .content:hover .overlay {
        opacity: 0.8;
    }

    .subheadline {
        color: white;
        font-size: 24px;
        font-family: 'Forma DJR Text', sans-serif;
        font-weight: 500;
    }

    .body {
        color: white;
        font-size: 16px;
        font-family: 'Forma DJR Text', sans-serif;
        font-weight: 400;
    }

    /* About section */
    .about_container {
        padding: 16vh 5vw 16vh;
        width: 100%;
    }

    .about_article {
        display: grid;
        grid-template-columns: 35% 62%;
        grid-template-rows: 80vh 15vh;
        column-gap: 3%;
        row-gap: 3vh;
        margin: 3vh 0 0;
    }

    .about_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about_text {
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 300;
    }

    .about_button {
        border: 2px solid black;
        padding: 12px;
        width: 25vw;
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 200;
        background-color: transparent;
        margin: 3vh auto;
        cursor: pointer;
        justify-self: center;
    }

    .about_button:hover {
        color: white;
        border: 2px solid black;
        background-color: black;
        transition: 0.5s;
    }

    .some_container {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: auto;
    }

    .some_icon {
        width: 70%;
    }

    /* Contact section */
    .contact_container {
        background-color: #5DC6E0;
        padding: 15vh 5vw;
        margin: 3vh 0 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0 8px 10px 3px black;
    }

    .contact_text {
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 200;
        margin: 2vh 0;
    }

    .contact_info {
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin: 1vh 0;
    }

    .contact_link {
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 200;
        margin: 1vh 0;
        color: black;
        text-decoration: none;
    }

    .contact_button {
        border: 2px solid black;
        padding: 12px;
        width: 20vw;
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 16px;
        font-weight: 200;
        background-color: transparent;
        margin: 8vh 0 0;
        cursor: pointer;
        align-self: center;
    }

    .contact_button:hover {
        color: white;
        border: 2px solid white;
        transition: 0.5s;
    }
}