*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forma DJR Text", sans-serif;
}

/* Mobile */

body {
    overflow-x: hidden;
}

/* Header section */

.header_img {
    display: none;
}

.banner {
    display: flex;
    justify-content: center;

}

.mobile_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main_container {
    width: auto;
}

.intro_container {
    position: absolute;
    z-index: 2;
    width: 60%;
    top: 17%;
    left: 65%;
    transform: translate(-50%, -50%);
}

/* Portfolio section */

.portfolio_container {
    padding: 5vh 5vw 0;
    width: 100%;
}

.page_headline {
    margin: 0 0 3vh;
    background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
    display: inline-block;
}

.text_underline {
    display: flex;
    justify-content: center;
}

.content_img {
    width: 100%;
    margin: 1vh 0;
}

.subheadline {
    display: none;
}

.body {
    display: none;
}

/* About section */
.about_container {
    padding: 5vh 5vw 7vh;
    width: 100%;
}

.about_img {
    width: 100%;
    margin: 2vh 0;
}

.some_container {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
}

.some_wrapper {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 4vh 4vw 0;
}

.some_icon {
    width: 75%;
}

/* Contact section */
.contact_container {
    background-color: #5DC6E0;
    padding: 5vh 5vw;
    margin: 5vh 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 8px 10px 3px black;
}


.contact_info {
    margin: 1vh 0;
    font-weight: 600;
}

.contact_link {
    margin: 1vh 0;
    color: black;
    text-decoration: none;
}

.contact_button {
    border: 2px solid black;
    padding: 1vh 3vw;
    display: inline-block;
    text-align: center;
    height: 6vh;
    font-weight: 200;
    background-color: transparent;
    margin: 5vh 0 0;
    align-self: center;
}

/* Tablet */
@media only screen and (min-width: 600px) {}

/* Desktop */
@media only screen and (min-width: 768px) {

    /* Header section */
    .header_img {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .banner {
        display: flex;
        justify-content: center;
        margin-bottom: 3vh;
    }

    .mobile_img {
        display: none;
    }

    .intro_container {
        width: 35%;
        top: 45%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    /* Portfolio section */
    .portfolio_container {
        padding: 16vh 0 0;
    }

    .portfolio_content {
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        height: 29.5%;
        width: 29.5%;
        margin: 0 1vw;
        position: relative;
        justify-content: center;
    }

    .content_img {
        width: 100%;
        height: auto;
        margin: 3vh 3vw;
        display: block;
    }

    .page_headline {
        font-size: 6.25vw;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        transition: 0.5s;
        background-color: #5DC6E0;
        opacity: 0;
        margin: 3vh 3vw;
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }

    .content:hover .overlay {
        opacity: 0.8;
    }

    .subheadline {
        color: white;
        display: block;
        font-size: 2.5vw;
    }

    .body {
        color: white;
        display: block;
        font-size: 1.4vw;
    }

    /* About section */
    .about_container {
        padding: 16vh 5vw;
        width: 100%;
    }

    .about_article {
        display: flex;
        margin: 3vh 0 0;
    }

    .about_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 0 0 2vw;
    }

    .about_text {
        margin-bottom: 1vh;
    }

    .text {
        position: relative;
    }

    .some_container {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 4vh 2vw auto;
        bottom: 0;
    }

    .some_icon {
        width: 80%;
    }

    /* Contact section */
    .contact_container {
        background-color: #5DC6E0;
        padding: 20vh 5vw;
        margin: 5vh 0 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        box-shadow: 0 8px 10px 3px black;
    }

    .contact_text {
        margin: 2vh 0;
        font-size: 1.4vw;
    }

    .contact_button {
        padding: 2vh 1vw;
        width: 20vw;
        height: 9vh;
        margin: 8vh 0 0;
        cursor: pointer;
        font-size: 1.4vw;
    }

    .contact_info {
        font-size: 1.4vw;
    }

    .contact_link {
        font-size: 1.4vw;
    }

    .contact_button:hover {
        color: white;
        background: black;
        border: 2px solid black;
        transition: 0.5s;
    }
}