*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

@font-face {
    font-family: Soulcraft;
    src: url(Soulcraft.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.tff);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Bold.tff);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-ExtraBold.tff);
    font-weight: 800;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Light.tff);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Thin.tff);
    font-weight: 100;
}

body {
    overflow-x: hidden;
}

.navigation_container {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 5;
    transition: 0.5s;
}

ul {
    display: none;
}

nav li {
    list-style: none;
}

.logo {
    height: 10vh;
    margin: auto 2vw;
}

.navigation {
    float: right;
    width: 15%;
    margin: 3vh 3vw;
}

.nav-ul.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    padding: 20vh 50vw 10vh;
    margin: -10vh 0 0 -82vw;
}

.nav-ul {
    width: 100%;
}

li {
    margin: 3vh;
}

.nav_link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: black;
    position: relative;
    z-index: 1000;
}

.menu {
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 2em;
    cursor: pointer;
    margin: auto 2vw;
}

/* Tablet */
@media only screen and (min-width: 600px) {}

/* Desktop */
@media only screen and (min-width: 768px) {

    html {
        scroll-behavior: smooth;
    }

    /* Navigation */
    .navigation_container {
        height: 16vh;
        width: 100%;
        position: fixed;
        z-index: 5;
        transition: 0.5s;
        display: block;
    }

    .menu {
        display: none;
    }

    .logo {
        height: 16vh;
        margin: 0 2vw;
    }

    .navigation {
        float: right;
        width: 40%;
    }

    .nav-ul {
        margin: auto 2vw;
    }

    nav li {
        list-style: none;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .nav_link {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: black;
        position: relative;
        z-index: 1000;
        font-size: 1.25vw;
        height: 1.5vw;
    }


    .nav_link::after {
        content: ' ';
        position: absolute;
        top: -0.75vw;
        transform: translateY(50%);
        width: 0;
        left: 0;
        height: 1.5vw;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        transition: width 0.25s ease-in-out;
        z-index: -1;
        font-size: 1.25vw;
    }

    .nav_link:hover::after {
        width: 100%;
    }

    .active {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        color: black;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        display: inline-block;
        font-size: 1.25vw;
    }

    .navigation .icon {
        display: none;
    }
}