*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

/* Tablet */
@media only screen and (min-width: 600px) {}

/* Desktop */
@media only screen and (min-width: 768px) {

    /* Navigation */
    .navigation_container {
        height: 16vh;
        width: 100%;
        position: absolute;
    }

    .logo {
        height: 16vh;
        margin: 0 2vw;
    }

    .nav_elements {
        float: right;
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin: 8vh 3vw;
    }

    .nav_link {
        text-decoration: none;
        font-family: 'Forma DJR Text', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: black;
        position: relative;
        z-index: 1000;
    }

    .nav_link::after {
        content: ' ';
        position: absolute;
        top: -65%;
        transform: translateY(50%);
        width: 0;
        left: 0;
        height: 16px;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        transition: width 0.25s ease-in-out;
        z-index: -1;
    }

    .nav_link:hover::after {
        width: 100%;
    }

    .selectednav_link {
        text-decoration: none;
        font-family: 'Forma DJR Text', sans-serif;
        font-size: 12px;
        color: black;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        display: inline-block;
    }
}