*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

/* Mobile */
.banner_img {
    width: 100%;
}

.page_headline {
    font-size: 2.5em;
    font-family: 'Soulcraft', sans-serif;
    font-weight: 500;
    margin: 2vh 0 display: inline-block;
}

.underline_text {
    display: flex;
    justify-content: center;
}

.portfolio_wrapper {
    padding: 5vh 5vw;
    width: 100%;
}

.portfolio_text {
    width: 100%;
    font-family: 'Forma DJR Text', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 2vh 0 3vh;
}

.portfolio_logo {
    width: 100%;
    margin: 4vh 0 2vh;
}

.portfolio_img {
    width: 100%;
    margin: 1vh 0;
}

.portfolio_article {
    margin: 0 0 5vh 0;
}

.button_container {
    display: flex;
    justify-content: space-around;
}

.portfolio_button {
    border: 2px solid black;
    padding: 1vh 1vw;
    width: 30vw;
    height: 5vh;
    font-family: 'Forma DJR Text', sans-serif;
    font-size: 1em;
    font-weight: 200;
    background-color: transparent;
    margin: 2vh 0;
    align-self: center;
}

/* Tablet */
@media only screen and (min-width: 600px) {}

/* Desktop */
@media only screen and (min-width: 768px) {

    .banner_img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .banner {
        display: flex;
        justify-content: center;
    }

    .page_headline {
        margin: 0 0 3vh;
        font-size: 4em;
    }

    .portfolio_wrapper {
        padding: 16vh 5vw;
        width: 100%;
    }

    .portfolio_article {
        display: grid;
        grid-template-columns: 46% 46%;
        grid-template-rows: auto;
        column-gap: 4%;
        row-gap: 10vh;
        margin: 2vh 0 16vh;
    }

    .portfolio_logo {
        width: 100%;
        margin: auto;
    }

    .portfolio_text {
        margin: auto;
    }

    .portfolio_img {
        width: 100%;
    }

    .info_container {
        display: grid;
        grid-template-columns: 68% 28%;
        column-gap: 4%;
        grid-template-rows: 100%;
        margin: 2vh 0;
    }

    .button_container {
        display: flex;
        flex-direction: column;
    }

    .portfolio_button {
        padding: 2vh 1vw;
        width: 20vw;
        height: 9vh;
        margin: auto 0;
        cursor: pointer;
    }

    .portfolio_button:hover {
        color: white;
        border: 2px solid black;
        background-color: black;
        transition: 0.5s;
    }
}