*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
}

/* Tablet */
@media only screen and (min-width: 600px) {}

/* Desktop */
@media only screen and (min-width: 768px) {

    body {
        overflow-x: hidden;
    }

    /* Portfolio page */
    .portfolio_container {
        padding: 16vh 0;
        width: 100%;
    }

    .page_headline {
        font-size: 32px;
        font-family: 'Forma DJR Text', sans-serif;
        font-weight: 500;
        margin: 3vh 0;
        background: linear-gradient(to bottom, transparent 50%, #5DC6E0 50%);
        display: inline-block;
    }

    .text_underline {
        display: flex;
        justify-content: center;
    }

    .portfolio_content {
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        height: 43%;
        width: 43%;
        margin: 0 2vw;
        display: inline-block;
        justify-content: center;
    }

    .content_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        margin: 3vh 3vw;
    }

    .content_text {
        display: none;
    }



}